# https://cloudnative-pg.io/documentation/current/monitoring/#predefined-set-of-metrics
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: postgres-cluster
  namespace: postgres
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      cnpg.io/cluster: postgres-cluster
  podMetricsEndpoints:
  - port: metrics
    interval: 30s
    path: /metrics
